/*********************
 ******* Site Fonts
 *********************/
@import 'fonts';


$primary-color: #fff;
$green-color: #41ad49;
$link-color: #54b8cd;
$bottle-color: #008ba4;
$bundle-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
$img-center: 13px auto;
$bg-pattern: url('../images/background.gif') center center;

$font: 'glober', sans-serif;
$font-bold: 'glober-bold', sans-serif;
$font-bold-italic: 'glober-bold-italic', sans-serif;
$font-italic: 'italic', sans-serif;
$font-semibold: 'glober-semibold', sans-serif;
$font-semibold-italic: 'glober-semibold-italic', sans-serif;

body#algaecal-test {
  background: $primary-color;
  color: #728085;
  font-size: 20px;
	font-weight: 400;
  background-color: #fff;
  font-family: $font;
	letter-spacing: -1px;

  .bold {
    font-family: 'glober-bold', $font
  }
  .italic {
    font-family: 'glober-italic', $font
  }
  .bold-italic {
    font-family: 'glober-bold-italic', $font
  }
  .semibold {
    font-family: 'glober-semibold', $font
  }
  .semibold-italic {
    font-family: 'glober-semibold-italic', $font
  }


  a {
    color: $link-color;
  }

  img {
    display: block;
  }
  img.float-left {
    float: left;
  }

  .row {
    margin-top: 18px;;
  }

  .no-margin { margin: 0;}
}

/*********************
 ******* Header CTA
 *********************/

.tap-to-talk {
  font-size: 1em;
  line-height: 1.25em;
  margin-top: 15px;

  span {
    font-size: 1.25em;
  }

  .glyphicon {
    color: $primary-color;
    background-color: $green-color;
    border-radius: 50px;
    padding: 5px;
    font-size: .75em;
  }
}

.jumbotron {
  background: $bg-pattern;
  background-size: cover;;

  .banner, .banner p {
    color: $primary-color;
    font-size: 1.25em;
    line-height: 1.5em;

    .introducing {
      text-align: center;
      :before {
        border-bottom: solid thick white;
      }
    }
  }
}

.all-caps {
  text-transform: uppercase;
}

.underline {
  background: url('../images/underline.png') bottom center no-repeat;
  padding-bottom: 10px;
}

/**************************
 ******* Package Bundles
 *************************/
#bundles {
  margin: 30px 0;
  font-size: 18px;
  color: #000;


  .col-sm-4 {
    margin: 0 0 15px 0;
  }

  .discount {
    color: $primary-color;
    background: #e87b15;
    display: block;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    font-size: 1.2em;
    box-shadow: $bundle-shadow;
    text-align: center;
    line-height: 1.2em;
    box-sizing: border-box;
    padding-top: 12px;
    position: absolute;
    top: -5px;
    right: -10px;
    transform: rotate(10deg);
    z-index: 10;
    font-family: $font-bold;

  }

  .most-popular {
    background: #008ba4;
    padding: 8px 8px 0 8px;

    .bundle {
      margin: 0 0 10px 0;
    }
    h2 {
      color: $primary-color;
      font-family: $font-semibold;
      font-size: .8em;
      letter-spacing: .2em;
      margin: 0 0 5px  0;
    }
  }

  .bundle {
    box-shadow: $bundle-shadow;
    padding: 13px 8px;
    background: $primary-color;
    margin: 32px 0 35px 0;

    .price {
      font-family: $font-semibold;
      .amount {
        font-family: $font-bold;
        font-size: 2em;
      }

      sup {
        vertical-align: super;
      }

      sub {
        border-bottom: solid thin black;
        vertical-align: text-top;
      }
    }

    .highlight {
      background: url('../images/highlight.png') center center no-repeat;
    }

    .btn {
      color: $primary-color;
      background-color: $green-color;
      box-shadow: 0 -5px 0 rgba(0, 0, 0, 0.35) inset;
      padding: 8px 15px;
      font-family: $font-semibold;
      font-size: 1em;
      width: 90%;
      box-sizing: border-box;
      display: block;
      margin: 15px auto;

      img {
        width: 80px;
        margin: -25px -8px 0 -25px;
      }

    }

    img {
      margin: $img-center;
    }

    .bottle-count {
      color: $bottle-color;
    }
  }
}

/*************************************
 ******* Supplement Facts Section
 ***********************************/
#supplement-facts {
  color: #000;

  h2 {
    font-family: 'glober-bold', $font;
    text-align: center;
  }

  .panel-heading {
    border-top: solid medium #000;
    border-left: solid medium #000;
    border-right: solid medium #000;
    border-bottom: none;
    background: $primary-color;
    font-size: 1.5em;
    @extend h2;
  }

  .panel-body {
    font-family: 'glober-bold', $font;
    border-left: solid medium #000;
    border-right: solid medium #000;

  }

  table {
    font-size: .75em;
    border: solid medium #000;
    border-top: none;
    padding: 10px;
    border-collapse: inherit;

    tr {
      padding: 0 10px;

      td {
        border: none;
        @extend .panel-body;
      }
    }

    .amount-per-serv > * {
      border-bottom: solid 8px #000;;
    }

    .solid-bar {
      background: #000;
    }
  }
}

/*****************************
 ******* Guarantee Section
 *****************************/

.guarantee {
  background: $bg-pattern;
  padding: 25px;
  box-sizing: border-box;

  .guarantee-inner {
    background: $primary-color;
    padding: 18px;

    .dean-sig {
      margin: 13px auto;
      display: block;
      width: 200px;
      color: #000;
    }

    img {
      margin: $img-center;
    }

    h2 {
      color: #e3742c;
      text-transform: capitalize;;
    }
  }
}

/*************************************
 ******* As seen on Section
 ***********************************/
.as-seen {
  box-shadow: $bundle-shadow;

  .header{
    color: $primary-color;
    background: #4C813D;
    text-align: center;
    font-family: 'glober-semibold';
    display: block;
    letter-spacing: .03em;
    padding: 8px;
  }

  .row {
    padding: 10px;
    .col-xs-3 {
      vertical-align: middle;
    }
  }

  .tv-logos {
    max-width: 150px;
  }
  p {
    color: #000;
    font-size: .75em;
    .book-title {
      font-family: $font-semibold-italic;
    }
  }
}


/*************************************
 ******* Scientific References Section
 ***********************************/
 #sci-ref {

   h3 {
     color: $link-color;;
   }

   li {
     margin-bottom: 8px;
   }

   .reference-list {
     text-decoration: underline;
     font-family: $font-semibold
   }
   .addcart {
     color: $primary-color;
     background-color: $green-color;
     box-shadow: 0 -8px 0 rgba(0, 0, 0, 0.35) inset;
     padding: 10px 15px;
     font-size: 1.5em;
     margin: 20px auto;
     width: 255px;
     display: block;

     img {
       width: 100px;
       margin: -28px -8px 0 -30px;
     }
   }

}

/*****************************
 ******* Footer Section
 *****************************/
footer {
  text-align: center;
  color: #2d2b2b;

  img {
    margin: 8px auto;
  }
}
