@font-face {
  font-family: 'glober';
  src: url("../fonts/glober-book-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'glober-italic';
  src: url("../fonts/glober-book-italic-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'glober-bold';
  src: url("../fonts/glober-bold-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: bold; }

@font-face {
  font-family: 'glober-bold-italic';
  src: url("../fonts/glober-bold-italic-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: bold-italic; }

@font-face {
  font-family: 'glober-semibold';
  src: url("../fonts/glober-semibold-webfont.woff2") format("woff2");
  font-style: semibold; }

@font-face {
  font-family: 'glober-semibold-italic';
  src: url("../fonts/glober-semibold-italic-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: semibold-italic; }
