/*********************
 ******* Site Fonts
 *********************/
@font-face {
  font-family: 'glober';
  src: url("../fonts/glober-book-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'glober-italic';
  src: url("../fonts/glober-book-italic-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'glober-bold';
  src: url("../fonts/glober-bold-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: bold; }

@font-face {
  font-family: 'glober-bold-italic';
  src: url("../fonts/glober-bold-italic-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: bold-italic; }

@font-face {
  font-family: 'glober-semibold';
  src: url("../fonts/glober-semibold-webfont.woff2") format("woff2");
  font-style: semibold; }

@font-face {
  font-family: 'glober-semibold-italic';
  src: url("../fonts/glober-semibold-italic-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: semibold-italic; }

body#algaecal-test {
  background: #fff;
  color: #728085;
  font-size: 20px;
  font-weight: 400;
  background-color: #fff;
  font-family: "glober", sans-serif;
  letter-spacing: -1px; }
  body#algaecal-test .bold {
    font-family: "glober-bold", "glober", sans-serif; }
  body#algaecal-test .italic {
    font-family: "glober-italic", "glober", sans-serif; }
  body#algaecal-test .bold-italic {
    font-family: "glober-bold-italic", "glober", sans-serif; }
  body#algaecal-test .semibold {
    font-family: "glober-semibold", "glober", sans-serif; }
  body#algaecal-test .semibold-italic {
    font-family: "glober-semibold-italic", "glober", sans-serif; }
  body#algaecal-test a {
    color: #54b8cd; }
  body#algaecal-test img {
    display: block; }
  body#algaecal-test img.float-left {
    float: left; }
  body#algaecal-test .row {
    margin-top: 18px; }
  body#algaecal-test .no-margin {
    margin: 0; }
  body#algaecal-test .hide {
    visibility: hidden; }

/*********************
 ******* Header CTA
 *********************/
.tap-to-talk {
  font-size: 1em;
  line-height: 1.25em;
  margin-top: 15px; }
  .tap-to-talk span {
    font-size: 1.25em; }
  .tap-to-talk .glyphicon {
    color: #fff;
    background-color: #41ad49;
    border-radius: 50px;
    padding: 5px;
    font-size: .75em; }

.jumbotron {
  background: url("../images/background.gif") center center;
  background-size: cover; }
  .jumbotron .banner, .jumbotron .banner p {
    color: #fff;
    font-size: 1.25em;
    line-height: 1.5em; }
    .jumbotron .banner .introducing, .jumbotron .banner p .introducing {
      text-align: center;
      line-height: 1em;
      overflow: hidden; }
      .jumbotron .banner .introducing span, .jumbotron .banner p .introducing span {
        display: inline-block;
        position: relative; }
      .jumbotron .banner .introducing span:before, .jumbotron .banner .introducing span:after, .jumbotron .banner p .introducing span:before, .jumbotron .banner p .introducing span:after {
        content: "";
        position: absolute;
        height: 15px;
        border-bottom: 2px solid white;
        top: 0;
        width: 300px; }
      .jumbotron .banner .introducing span:before, .jumbotron .banner p .introducing span:before {
        right: 100%;
        margin-right: 15px; }
      .jumbotron .banner .introducing span:after, .jumbotron .banner p .introducing span:after {
        left: 100%;
        margin-left: 15px; }

.all-caps {
  text-transform: uppercase; }

.underline {
  background: url("../images/underline.png") bottom center no-repeat;
  padding-bottom: 10px; }

/**************************
 ******* Package Bundles
 *************************/
#bundles {
  margin: 30px 0;
  font-size: 18px;
  color: #000; }
  #bundles h2, #bundles #supplement-facts .panel-heading, #supplement-facts #bundles .panel-heading {
    font-family: "glober-semibold", sans-serif;
    color: #54b8cd; }
  #bundles .hidden-bundles {
    opacity: 0;
    height: 0;
    transition: all 0.5s ease-in; }
  #bundles .hidden-bundles > * {
    opacity: inherit;
    height: inherit;
    transition: all 1s ease-in; }
  #bundles .col-sm-4 {
    margin: 0 0 15px 0; }
  #bundles .discount {
    color: #fff;
    background: #e87b15;
    display: block;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    font-size: 1.2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    text-align: center;
    line-height: 1.2em;
    box-sizing: border-box;
    padding-top: 12px;
    position: absolute;
    top: -5px;
    right: -10px;
    transform: rotate(10deg);
    z-index: 10;
    font-family: "glober-bold", sans-serif; }
  #bundles .most-popular {
    background: #008ba4;
    padding: 8px 8px 0 8px; }
    #bundles .most-popular .bundle {
      margin: 0 0 10px 0; }
    #bundles .most-popular h2, #bundles .most-popular #supplement-facts .panel-heading, #supplement-facts #bundles .most-popular .panel-heading {
      color: #fff;
      font-family: "glober-semibold", sans-serif;
      font-size: .8em;
      letter-spacing: .2em;
      margin: 0 0 5px  0; }
  #bundles .bundle {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    padding: 13px 8px;
    background: #fff;
    margin: 32px 0 35px 0; }
    #bundles .bundle .price {
      font-family: "glober-semibold", sans-serif; }
      #bundles .bundle .price .amount {
        font-family: "glober-bold", sans-serif;
        font-size: 2em; }
      #bundles .bundle .price sup {
        vertical-align: super; }
      #bundles .bundle .price sub {
        border-bottom: solid thin black;
        vertical-align: text-top; }
    #bundles .bundle .highlight {
      background: url("../images/highlight.png") center center no-repeat; }
    #bundles .bundle .btn {
      color: #fff;
      background-color: #41ad49;
      box-shadow: 0 -5px 0 rgba(0, 0, 0, 0.35) inset;
      padding: 8px 15px;
      font-family: "glober-semibold", sans-serif;
      font-size: 1em;
      width: 90%;
      box-sizing: border-box;
      display: block;
      margin: 15px auto; }
      #bundles .bundle .btn img {
        width: 80px;
        margin: -25px -8px 0 -25px; }
    #bundles .bundle img {
      margin: 13px auto; }
    #bundles .bundle .bottle-count {
      color: #008ba4; }

/*************************************
 ******* Supplement Facts Section
 ***********************************/
#supplement-facts {
  color: #000; }
  #supplement-facts h2, #supplement-facts .panel-heading {
    font-family: "glober-bold", "glober", sans-serif;
    text-align: center; }
  #supplement-facts .panel-heading {
    border-top: solid medium #000;
    border-left: solid medium #000;
    border-right: solid medium #000;
    border-bottom: none;
    background: #fff;
    font-size: 1.5em; }
  #supplement-facts .panel-body, #supplement-facts table tr td {
    font-family: "glober-bold", "glober", sans-serif;
    border-left: solid medium #000;
    border-right: solid medium #000; }
  #supplement-facts table {
    font-size: .75em;
    border: solid medium #000;
    border-top: none;
    padding: 10px;
    border-collapse: inherit; }
    #supplement-facts table tr {
      padding: 0 10px; }
      #supplement-facts table tr td {
        border: none; }
    #supplement-facts table .amount-per-serv > * {
      border-bottom: solid 8px #000; }
    #supplement-facts table .solid-bar {
      background: #000; }

/*****************************
 ******* Guarantee Section
 *****************************/
.guarantee {
  background: url("../images/background.gif") center center;
  padding: 25px;
  box-sizing: border-box; }
  .guarantee .guarantee-inner {
    background: #fff;
    padding: 18px; }
    .guarantee .guarantee-inner .dean-sig {
      margin: 13px auto;
      display: block;
      width: 200px;
      color: #000; }
    .guarantee .guarantee-inner img {
      margin: 13px auto; }
    .guarantee .guarantee-inner h2, .guarantee .guarantee-inner #supplement-facts .panel-heading, #supplement-facts .guarantee .guarantee-inner .panel-heading {
      color: #e3742c;
      text-transform: capitalize;
      font-family: "glober-semibold", sans-serif; }
    .guarantee .guarantee-inner .modal-header, .guarantee .guarantee-inner .modal-footer {
      background: url("../images/background.gif") center center; }
      .guarantee .guarantee-inner .modal-header .close, .guarantee .guarantee-inner .modal-footer .close {
        color: white; }
    .guarantee .guarantee-inner .modal-body {
      font-size: .8em; }
      .guarantee .guarantee-inner .modal-body h3 {
        font-family: "glober-semibold", sans-serif;
        color: #54b8cd; }

/*************************************
 ******* As seen on Section
 ***********************************/
.as-seen {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35); }
  .as-seen .header {
    color: #fff;
    background: #4C813D;
    text-align: center;
    font-family: 'glober-semibold';
    display: block;
    letter-spacing: .03em;
    padding: 8px; }
  .as-seen .row {
    padding: 10px; }
    .as-seen .row .col-xs-3 {
      vertical-align: middle; }
  .as-seen .tv-logos {
    max-width: 150px; }
  .as-seen p {
    color: #000;
    font-size: .75em; }
    .as-seen p .book-title {
      font-family: "glober-semibold-italic", sans-serif; }

/*************************************
 ******* Scientific References Section
 ***********************************/
#sci-ref h3 {
  color: #54b8cd; }

#sci-ref li {
  margin-bottom: 8px; }

#sci-ref .reference-list {
  text-decoration: underline;
  font-family: "glober-semibold", sans-serif; }

#sci-ref .addcart {
  color: #fff;
  background-color: #41ad49;
  box-shadow: 0 -8px 0 rgba(0, 0, 0, 0.35) inset;
  padding: 10px 15px;
  font-size: 1.5em;
  margin: 20px auto;
  width: 255px;
  display: block; }
  #sci-ref .addcart img {
    width: 100px;
    margin: -28px -8px 0 -30px; }

/*****************************
 ******* Footer Section
 *****************************/
footer {
  text-align: center;
  color: #2d2b2b; }
  footer img {
    margin: 8px auto; }
